<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Onenotes</title>
    <link rel="stylesheet" href="css/homepage.css">
    <link rel="stylesheet" href="css/topbar2.css">
</head>

<body>
    <div class="topsection">
        <p class="topheadline">Onenotes</p>
        <div class="links">
            <a href="/login" class="link">
                <%= message1 %>
            </a>
            <a href="/signup" class="link">
                <%= message2 %>
            </a>
            <a href="/logout" class="link">
                <%= message5 %>
            </a>
        </div>
    </div>
    <div class="header">
        <div id="top">
            <h1 class="top">Feel Organised, without the efforts</h1>
        </div>
            <p>We at Onenotes always wanted to do something for the students which would help them in their hectic
            academics, and we directly contacted our peers, and we have brought what they asked for, Onenotes offers you
            to save your textbooks, notes, solutions, and many more things for FREE!!</p>
    </div>
    <button class="button" onclick="window.location.href='/signup';"><span>
            <%= message3 %>
        </span></button><br>
    <div class="hyperlink"><a href="/login">
            <%= message4 %>
        </a><br></div>
    <div class="images">
        <img class="laptop" src="/img/Laptop.jpeg">
        <img class="phone" src="/img/Mobile1.jpeg">
    </div>
    <h2 class="title">What do we OFFER</h2>
    
    <div class="footer">
        <div class="box">
            <h2 class="heading">Accesibility</h2>
            <p class="content">With Onenotes you can access your notes from any device at any part of world at any time</p>
        </div>
        <div class="box">
            <h2 class="heading">Autosave</h2>
            <p class="content">Your notes in Onenotes will be auto-saved. So you do not have to worry about saving them.</p>
        </div>
        <div class="box">
            <h2 class="heading">Stay Organised</h2>
            <p class="content">You can save your everday schedule in Onenotes and make sure tthat you do not miss out any important thing.</p>
        </div>
    </div>
</body>

</html>